.navbar-lewagon {
  justify-content: space-between;
  background: rgb(46, 4, 4);
  display: flex;
  padding-right : 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h3 {
  color: rgb(238, 195, 195);
  // justify-content: flex-end;
}
